
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Problem 3 - Consuming the Twitter API</h2>

<img src="~/Content/images/Problem3.PNG" /><br /><br />
<img src="~/Content/images/Problem3_1.PNG" /><br /><br />
<img src="~/Content/images/MarkHills-UserInformation.PNG" /><br /><br />
<img src="~/Content/images/MarkHills-FriendsList.PNG" /><br /><br />