
@{
    ViewBag.Title = "HowToProblem2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My RESTFul Web Service</h2>

<p class="text-warning">
    The calculator can be consumed in the following ways using a REST client:
    <br />
    <li>Return the current value:  <b>GET http://csci6710-homework5.azurewebsites.net/api/problem2/Get </b></li>
    <li>Set num as the current value:   <b>POST http://csci6710-homework5.azurewebsites.net/api/problem2/post?num=2 </b></li>
    <li>Add num to the current value:  <b>POST http://csci6710-homework5.azurewebsites.net/api/problem2/add?num=2 </b></li>
    <li>Multiply num by the current value:  <b> POST http://csci6710-homework5.azurewebsites.net/api/problem2/times?num=5 </b></li>
    <li>Set the current value to 0:  <b>DELETE http://csci6710-homework5.azurewebsites.net/api/problem2/delete </b></li>    
    
</p>

<p class="text-danger">
    Resources used to solve problem 2:
    <li><a href="http://www.asp.net/web-api/overview/older-versions/build-restful-apis-with-aspnet-web-api">Building RESTFul APIs with ASP.NET Web API</a></li>
    <li><a href="http://msdn.microsoft.com/en-us/library/hh833994(v=vs.108).aspx">MSDN Documentation - ASP.Net Web API</a></li>
    <li><a href="http://stackoverflow.com/questions/21999409/web-api-2-session">Stackoverflow - Using Web API with session</a></li>
</p>

