@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lindsey Lanier</h1>
    <p class="lead">Hosted on Azure, the solutions to Homework #5.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Problem 1</h2>
        <p>
            Consuming the WorldCat ISBN API.
        </p>
        <p><a class="btn btn-default" href="Problem1">Explore solution &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Problem 2</h2>
        <p>Creating a RESTful web services.</p>
        <p><a class="btn btn-default" href="Home/HowToProblem2">Explore solution &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Problem 3</h2>
        <p>Exploring the Twitter API</p>
        <p><a class="btn btn-default" href="Problem3">Explore solution &raquo;</a></p>
    </div>
</div>